.flow{
    /* forces the div to the left */
    position: absolute;
}

.left-element {
    /* forces the div to the left */
    position: relative; 
    float: left; 
}

.bold-borders{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}