
/* Disables scrollbar */
body {
    overflow-y: hidden;
}

.flow{
    /* forces the div to the left */
    position: absolute;
}

.tab_pane{
    overflow-y: hidden;

}


.left-element {
    /* forces the div to the left */
    position: relative;
    float: left;
}


/* Debugging Utilities */
.bold-borders{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}




