
/* Disables scrollbar */
body {
    overflow-y: hidden;
}



.db-container{
    position: absolute;
}

.flow{
    /* forces the div to the left */
    position: relative;
    float: left;
}

.speech-doc{
    position: relative;
    float: right;
    background-color: white;
    height: 410px;
    width: 490px;
}


.note-editor {
    position: relative;
    float: right;
    width: 490px;
}
.note-frame{
    position: relative;
    float: right;
    width: 490px;
}

.tab_pane{
    overflow-y: hidden;
}


.left-element {
    /* forces the div to the left */
    position: relative;
    float: left;
}


/* Debugging Utilities */
.bold-borders{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}




