
/* Disables scrollbar */
body {
    overflow-y: hidden;
}



.db-container{
    position: absolute;
}

.flow{
    /* forces the div to the left */
    position: relative;
    float: left;
    width: 1085px;
}

.speech-doc{
    position: relative;
    float: right;
    background-color: white;
    height: 410px;
    width: 490px;
}


.note-editor {
    position: relative;
    float: right;
    width: 490px;
}
.note-frame{
    position: relative;
    float: right;
    width: 490px;
}

.tab_pane{
    overflow-y: hidden;
}


.left-element {
    /* forces the div to the left */
    position: relative;
    float: left;
}

.elementToFadeInAndOutLeft {
    opacity: 1;
    animation: fade-left 2s linear;
}

@keyframes fade-left {
  0% { 
    opacity: 0; 
    transform: translateX(-5px);
    }
  100% { 
      opacity: 1; 
      transform: translateX(0px);
    }
}


.elementToFadeInAndOutRight{
    opacity: 1;
    animation: fade-right 2s linear;
}

@keyframes fade-right {
  0% { 
    opacity: 0; 
    transform: translateX(5px);
    }
  100% { 
      opacity: 1; 
      transform: translateX(0px);
    }
}

/* Debugging Utilities */
.bold-borders{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}




