.spash-screen{
    position: absolute;
}

.logo-screen{
    position: relative;
    float: left;
}

.options{
    position: relative;
    float: right;

    height: 410px;
    width: 250px;
}

.space{
    position: relative;
    float: right;
    width: 100px;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-weight: 900;
    font-size: 30px;
}

.elementToFadeInAndOut {
    opacity: 1;
    animation: fade 2s linear;
}

@keyframes fade {
  0% { 
    opacity: 0; 
    transform: translateX(-20px);
    }
  100% { 
      opacity: 1; 
      transform: translateX(0);
    }
}

/* Debugging Utilities */
.bold-borders{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
