.spash-screen{
    position: absolute;
}

.logo-screen{
    position: relative;
    float: left;
}

.options{
    position: relative;
    float: right;

    height: 410px;
    width: 250px;
}

.space{
    position: relative;
    float: right;
    width: 100px;
}

/* Debugging Utilities */
.bold-borders{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
