
/* Disables scrollbar */
body {
    overflow-y: hidden;
    overflow-x: hidden;
}


.trad-container{
    position: absolute;
    height: 100vh;
    width: 65.97222222222222vw;
}

.trad-flow{
    /* forces the div to the left */
    position: relative;
    float: left;
    height: 100%;
    width: 100%;
}


.note-editor {
    position: relative;
    float: right;
    width: 33.5vw;
    height: 100vh;

}
.note-frame{
    position: relative;
    float: right;
    width: 33.5vw;
    height: 100vh;
}

.note-editable{
    height: 100vh;
}

#mytextarea{
    position: relative;
    float: right;
    width: 33.5vw;
    height: 100vh;
}


#ephox_mytextarea{
    position: relative;
    float: right;
    width: 33.5vw;
    height: 100vh;
}

.tab_pane{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

/* center the div */
.center-div
{
    margin: 0 auto;
    width: 100px; 
}

/* stacks inner div on top of each other */
.inner {
    position: absolute;
  }

/* Pre-Loader */
.loader {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    border: 32px solid #202225; /* Light grey */
    border-top: 32px solid #007bff; /* Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.elementToFadeInAndOutLeft {
    opacity: 1;
    animation: fade-left 2s linear;
}

@keyframes fade-left {
  0% { 
    opacity: 0; 
    transform: translateX(-5px);
    }
  100% { 
      opacity: 1; 
      transform: translateX(0px);
    }
}


.elementToFadeInAndOutRight{
    opacity: 1;
    animation: fade-right 2s linear;
}

@keyframes fade-right {
  0% { 
    opacity: 0; 
    transform: translateX(5px);
    }
  100% { 
      opacity: 1; 
      transform: translateX(0px);
    }
}

/* Debugging Utilities */
.bold-borders{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}




