
/* Disables scrollbar */
body {
    overflow-y: hidden;
}

.plan-container{
    position: absolute;
    height: 100%;
    width: 68.80152187698161vw;
    /* 
        width: 1085px; 
        1085/1577 = 68.8% of window's innerWidth: responsive   
        width: 68.80152187698161%;
    */
}

.trad-container{
    position: absolute;
    height: 100%;
    /* 
        width: 950px; 
        950/1440 = 65.9% of window's innerWidth: responsive    
        width: 65.97222222222222%; 
    */
    width: 65.97222222222222vw;
}

.plan-flow{
    /* forces the div to the left */
    position: relative;
    float: left;
    height: 100%;
    width: 100%;
}

.trad-flow{
    /* forces the div to the left */
    position: relative;
    float: left;
    height: 100%;
    width: 100%;
}


.note-editor {
    position: relative;
    float: right;
    width: 490px;
    width: 33.5vw;
    height: 100%;

}
.note-frame{
    position: relative;
    float: right;
    width: 490px;
    width: 33.5vw;
    height: 100%;
}

.tab_pane{
    overflow-y: hidden;
}

.elementToFadeInAndOutLeft {
    opacity: 1;
    animation: fade-left 2s linear;
}

@keyframes fade-left {
  0% { 
    opacity: 0; 
    transform: translateX(-5px);
    }
  100% { 
      opacity: 1; 
      transform: translateX(0px);
    }
}


.elementToFadeInAndOutRight{
    opacity: 1;
    animation: fade-right 2s linear;
}

@keyframes fade-right {
  0% { 
    opacity: 0; 
    transform: translateX(5px);
    }
  100% { 
      opacity: 1; 
      transform: translateX(0px);
    }
}

/* Debugging Utilities */
.bold-borders{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}




